extends layout

block content

    .grid-container.centered
        .grid-100
            .contained
                .grid-100
                    .heading
                        h1 Bring on the AJAX
                        button#load.button(onclick='sendAJAX()') Bring it!
                    ul#ajax